/* Reset de márgenes y paddings globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo y configuración general */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Formulario */
.form {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

/* Título */
h2 {
    font-size: 2em;
    color: #A65B4B;
    text-align: center;
    margin-bottom: 20px;
}

/* Mensaje de error o éxito */
.mssg {
    color: red;
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 15px;
}

/* Estilo para los campos de entrada */
.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1em;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

.form-control:focus {
    border-color: #A65B4B;
    outline: none;
}


button {
    width: 100%;
    padding: 15px;
    background-color: #A65B4B;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #552f27;
    transform: scale(1.05);
}

/* Enlace de registro */
p {
    text-align: center;
    font-size: 1.1em;
}

p a {
    color: #A65B4B;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

p a:hover {
    color: #552f27;
}

/* Responsividad */
@media (max-width: 600px) {
    .form {
        padding: 20px;
    }

    h2 {
        font-size: 1.7em;
    }

    .form-control {
        font-size: 1em;
    }

    button {
        font-size: 1em;
    }
}
