<?php
if (session_status() === PHP_SESSION_NONE) {
    session_start();
}
$usuarioActivo = isset($_SESSION['id']); // Verifica si hay un usuario activo
?>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios - Classy</title>
    <link rel="stylesheet" href="../Css/servicios.css">
</head>

<body>

    <header>
        <a class="logo" href="../View/index.php">
            <img src="../Media/classy.png" alt="logo">
            <h2 class="nombredelaempresa">Classy</h2>
        </a>

        <nav>
            <a href="../View/index.php">Home</a>
            <a href="../View/login.php">Iniciar Sesion</a>
            <a href="../View/servicios.html">Servicios</a>
            <a href="../View/conocenos.html">Conócenos</a>
            <a href="../View/redes.html">Redes Sociales</a>
            <a href="../View/resenas.php">Reseñas</a>
            <?php if ($usuarioActivo): ?>
            <a href="../Controller/LogoutController.php">Cerrar sesión</a>
        <?php endif; ?>
            </nav>
    </header>

  
    <main>
        
        <section class="container container-intro">
            <h1 class="heading-1">Nuestros Servicios</h1>
            <p>Vive la magia de Cartagena con nuestros servicios de lujo. Explora islas paradisíacas, relájate en playas de ensueño, disfruta de la gastronomía local en restaurantes exclusivos o celebra una ocasión especial con una pedida de mano inolvidable. Ofrecemos una amplia gama de actividades para que tu viaje sea único.</p>
        </section>


        <section class="container top-categories">
            <h2 class="heading-2">Categorías</h2>
            <div class="container-categories">
                <article class="card-category category-alojamiento"><a href="#alojamiento">
                    <p>Alojamiento</p>
                </a>
                </article>
                <article class="card-category category-embarcaciones">     <a href="#embarcaciones">
                    <p>Embarcaciones</p>
                </a>
                </article>
                <article class="card-category category-toures"><a href="#toures">
                    <p>Toures y Planes</p>
                </a>
                </article>
            </div>
        </section>


        <section class="container top-products">



            <section class="container top-products">
                <h2 id="alojamiento" class="heading-2">Alojamientos destacados</h2>
                <p>Sumérgete en el lujo colonial de Cartagena. Nuestras exclusivas villas y hoteles boutique te
                    transportarán a otra época, combinando la elegancia del pasado con las comodidades más modernas.
                    Disfruta de vistas panorámicas al mar Caribe, piscinas privadas, servicio personalizado y una
                    gastronomía exquisita. Cada rincón está diseñado para que te sientas como en casa, pero con un toque
                    de realeza.</p>
                <div class="container-products">
              
                    <article class="card-product">
                        <figure class="container-img">
                            <img src="../Media/alojamientos/mangata.jpg" alt="Isla Mangata">
                            <figcaption class="itemname">Isla Mangata</figcaption>
                        </figure>
                        <div class="button-group">
                            <button><i class="fa-regular fa-eye"></i></button>
                            <button><i class="fa-regular fa-heart"></i></button>
                            <button><i class="fa-solid fa-code-compare"></i></button>
                        </div>
                    </article>
                  
                    <article class="card-product">
                        <figure class="container-img">
                            <img src="../Media/alojamientos/palmarito.jpg" alt="Palmarito Beach">
                            <figcaption class="itemname">Palmarito Beach</figcaption>
                        </figure>
                        <div class="button-group">
                            <button><i class="fa-regular fa-eye"></i></button>
                            <button><i class="fa-regular fa-heart"></i></button>
                            <button><i class="fa-solid fa-code-compare"></i></button>
                        </div>
                    </article>
                  
                    <article class="card-product">
                        <figure class="container-img">
                            <img src="../Media/alojamientos/ferrara.JPG" alt="Apartamento Ferrara">
                            <figcaption class="itemname">Apto Ferrara</figcaption>
                        </figure>
                        <div class="button-group">
                            <button><i class="fa-regular fa-eye"></i></button>
                            <button><i class="fa-regular fa-heart"></i></button>
                            <button><i class="fa-solid fa-code-compare"></i></button>
                        </div>
                    </article>
              
                    <article class="card-product">
                        <figure class="container-img">
                            <img src="../Media/alojamientos/CasaBaruLaPaz.jpg" alt="Casa Baru La Paz">
                            <figcaption class="itemname">Casa Baru La Paz</figcaption>
                        </figure>
                        <div class="button-group">
                            <button><i class="fa-regular fa-eye"></i></button>
                            <button><i class="fa-regular fa-heart"></i></button>
                            <button><i class="fa-solid fa-code-compare"></i></button>
                        </div>
                    </article>
                </div>
            </section>

            <section class="container top-products">
                <h2 id="embarcaciones" class="heading-2">Embarcaciones Destacadas</h2>
                <p>Navega por las cristalinas aguas del Caribe a bordo de nuestros yates de lujo. Disfruta de un día
                    inolvidable explorando islas paradisíacas, snorkel en arrecifes de coral, pesca deportiva o
                    simplemente relájate en la cubierta tomando el sol. Nuestros yates están equipados con todo lo
                    necesario para que tu experiencia sea perfecta: amplias cabinas, personal altamente capacitado y una
                    gastronomía gourmet.
                </p>
                <div class="container-products">
                   
                    <article class="card-product">
                        <figure class="container-img">
                            <img src="../Media/botes/yate62ft.jpg" alt="Yate 62 FT">
                            <figcaption class="itemname">Yate 62 FT</figcaption>
                        </figure>
                        <div class="button-group">
                            <button><i class="fa-regular fa-eye"></i></button>
                            <button><i class="fa-regular fa-heart"></i></button>
                            <button><i class="fa-solid fa-code-compare"></i></button>
                        </div>
                    </article>
                 
                    <article class="card-product">
                        <figure class="container-img">
                            <img src="../Media/botes/yateambar.jpg" alt="Yate Ambar">
                            <figcaption class="itemname">Yate Ambar</figcaption>
                        </figure>
                        <div class="button-group">
                            <button><i class="fa-regular fa-eye"></i></button>
                            <button><i class="fa-regular fa-heart"></i></button>
                            <button><i class="fa-solid fa-code-compare"></i></button>
                        </div>
                    </article>
             
                    <article class="card-product">
                        <figure class="container-img">
                            <img src="../Media/botes/catamaranl.jpeg" alt="Catamaran Lagoon 52 FT">
                            <figcaption class="itemname">Catamaran Lagoon 52 FT</figcaption>
                        </figure>
                        <div class="button-group">
                            <button><i class="fa-regular fa-eye"></i></button>
                            <button><i class="fa-regular fa-heart"></i></button>
                            <button><i class="fa-solid fa-code-compare"></i></button>
                        </div>
                    </article>
           
                    <article class="card-product">
                        <figure class="container-img">
                            <img src="../Media/botes/blackpanter.jpg" alt="Black Panther 41 FT">
                            <figcaption class="itemname">Black Panther 41 FT</figcaption>
                        </figure>
                        <div class="button-group">
                            <button><i class="fa-regular fa-eye"></i></button>
                            <button><i class="fa-regular fa-heart"></i></button>
                            <button><i class="fa-solid fa-code-compare"></i></button>
                        </div>
                    </article>
                </div>
            </section>
            <section class="container top-products">
                <h2 id="toures" class="heading-2">Planes y toures</h2>
                <p>Desde aventuras emocionantes hasta momentos románticos, Cartagena lo tiene todo. Explora el Volcán
                    del Totumo, navega por las Islas del Rosario, disfruta de una cena a la luz de las velas en la
                    Ciudad Amurallada o planea tu pedida de mano perfecta. Nuestros tours son completamente
                    personalizables
                </p>
                <div class="container-products">
                   
                    <article class="card-product">
                        <figure class="container-img">
                            <img src="../Media/toures/sunset.jpg" alt="Bahía tour">
                            <figcaption class="itemname">Sunset & Night Tour</figcaption>
                        </figure>
                        <div class="button-group">
                            <button><i class="fa-regular fa-eye"></i></button>
                            <button><i class="fa-regular fa-heart"></i></button>
                            <button><i class="fa-solid fa-code-compare"></i></button>
                        </div>
                    </article>
                   
                    <article class="card-product">
                        <figure class="container-img">
                            <img src="../Media/toures/pedidademano.jpg" alt="Classy Romantic">
                            <figcaption class="itemname">Classy Romantic</figcaption>
                        </figure>
                        <div class="button-group">
                            <button><i class="fa-regular fa-eye"></i></button>
                            <button><i class="fa-regular fa-heart"></i></button>
                            <button><i class="fa-solid fa-code-compare"></i></button>
                        </div>
                    </article>
                   
                    <article class="card-product">
                        <figure class="container-img">
                            <img src="../Media/toures/daytour.jpg" alt="Day Tour">
                            <figcaption class="itemname">Day Tour</figcaption>
                        </figure>
                        <div class="button-group">
                            <button><i class="fa-regular fa-eye"></i></button>
                            <button><i class="fa-regular fa-heart"></i></button>
                            <button><i class="fa-solid fa-code-compare"></i></button>
                        </div>
                    </article>
                   
                    <article class="card-product">
                        <figure class="container-img">
                            <img src="../Media/toures/islaparadisiaca.jpg" alt="Magic Dream Island">
                            <figcaption class="itemname">Magic Dream Island</figcaption>
                        </figure>
                        <div class="button-group">
                            <button><i class="fa-regular fa-eye"></i></button>
                            <button><i class="fa-regular fa-heart"></i></button>
                            <button><i class="fa-solid fa-code-compare"></i></button>
                        </div>
                    </article>
                </div>
            </section>




        
    </main>


    <footer>
        <p>&copy; 2024 Classy Experiences. Todos los derechos reservados.</p>
    </footer>

    <script src="index.js"></script>
</body>

</html>