body {
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
            padding: 20px;
            color: #333;
        }

        #carrito-container {
            max-width: 600px;
            margin: auto;
        }

        .item {
            background-color: #fff;
            border-radius: 10px;
            padding: 15px 20px;
            margin-bottom: 15px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .item p {
            margin: 0;
            font-size: 16px;
        }

        .item button {
            background-color: #a65b4b;
            color: #fff;
            border: none;
            padding: 8px 12px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            font-size: 14px;
        }

        .item button:hover {
            background-color: #843f33;
        }

        #total {
            max-width: 600px;
            margin: 30px auto 10px;
            font-size: 20px;
            font-weight: bold;
            text-align: right;
        }

        #paypal-button-container {
            max-width: 600px;
            margin: 20px auto;
        }